{% extends "polls/base.html" %}
{% block content %}
    <h1>First, add path in urls.py</h1>
    <h2>Then create the html file you want to link</h2>
    <h3>Then add it to views.py in the app</h3>
    <button onclick="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiAnIqYvdXeAhWMdH0KHRZJCdgQjRx6BAgBEAU&url=https%3A%2F%2Fdevelopers.google.com%2F&psig=AOvVaw2o3XeIJJXxctpcIHt91FgM&ust=1542339680749538">click me!</button>
    <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiAnIqYvdXeAhWMdH0KHRZJCdgQjRx6BAgBEAU&url=https%3A%2F%2Fdevelopers.google.com%2F&psig=AOvVaw2o3XeIJJXxctpcIHt91FgM&ust=1542339680749538">
{% endblock content %}
